@import '../components/fonts';

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    &--first {
        background-color: #45b085;
        background-image: url(../../assets/header1.png);
        background-size: 300px;
    };
    &--second {
        background-color: #8b1e3f;
        background-image: url(../../assets/header2.png);
        background-size: 300px;
        @media screen and (min-width: 950px) {
            background-size: 700px;
        }
    };
    &--third {
        background-color: #070600;
        background-image: url(../../assets/header3.png);
        background-size: 150px;
    }
    &--fourth {
        background-color: #ac8887;
        background-image: url(../../assets/header4.png);
        background-size: 320px;
        @media screen and (min-width: 1000px) {
            background-size: 900px;
        }
    }
    &--fith {
        font-family: var(--header);
        font-size: 40px;
        display: flex;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        img {
            width: 40px;
            margin: 20px 0;
        }
    }
}





