.about {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    @media screen and (min-width: 1200px) {
        margin: 50px 0 60px 0;
    }
    h3 {
        font-family: var(--subheader);
        @media screen and (min-width: 1200px) {
            font-size: 20px;
        }
    }
    p {
       width: 240px;
       @media screen and (min-width: 1200px) {
        width: 740px;
    }
    }
}

