.educationAndExperience {
    padding: 20px 40px 10px 40px;
    @media screen and (min-width: 1200px) {
        width: 512px;
        margin: 20px auto;
    }
}

.educationAndExperience__container {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 1200px) {
        justify-content: unset;
    }
    
}

.educationAndExperience__container--date {
    width: 20%;
    p {
        font-weight: 600;
    }
    @media screen and (min-width: 1200px) {
        width: 300px;
    }
}

.educationAndExperience__container--text {
    width: calc(80% - 40px);
    @media screen and (min-width: 1200px) {
        width: 100%;
    }
}

.educationAndExperience__container--name {
    font-weight: 600;
}

.educationAndExperience__container--desc {
    font-family: var(--desc);
}