@import "_colors";

.more {
    padding: 0 20px 40px 20px;
    h3 {
        font-family: var(--subheader);
        @media screen and (min-width: 1200px) {
            font-size: 20px;
        }
    }
}

.more__lang {
    margin: 20px 0;
    display: flex;
    div {
        margin-left: 40px;
        @media screen and (min-width: 1200px) {
            margin-left: 150px;   
        }
    }
    @media screen and (min-width: 1200px) {
        margin: 40px 0;
    }
}

.more__skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    p {
        background-color: var(--subh);
        border-radius: 5px;
        padding: 5px;
        margin: 5px 20px 5px 0;
    }
}