@import '_fonts';

.navbar {
    margin-top: 20px;
    nav {
        width: 100%;
        text-align: center;
    }
    a {
        margin: 0 10px;
        font-family: var(--subheader);
        font-size: 14px;
        font-weight: 600;
        color: #000;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: var(--subh);
        }
        @media screen and (min-width: 1200px) {
            font-size: 20px;
            margin: 0 20px;
        }
    }
}

.active {
    color: var(--subh)
}
